.product
    padding: 70px 0 40px 0
    &__img
        width: 100%
        max-width: 392px
        display: block
        margin: 0 auto
        box-shadow: 5px 5px 30px rgba(0,0,0,.25)
    &__text
        margin-top: 25px
        font-size: 14px
        line-height: 1.5
        span
            font-weight: 700
    &__price
        margin-top: 25px
        font-size: 24px